body {
    text-align: center;
    font-family: Roboto;
    color: #555;
    background-color: #eee;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0.2em;
    margin-top: 0.5em;
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 24px;
    font-weight: regular;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

.tableContainer {
    max-height: 600px;
    margin: 5%;
}

.pageHeader {
  background-color: #03A9F4;
  color: #fff;
  text-align: center;
  padding: 5px 5px 230px 25px;
  text-shadow: 0 0 6px rgba(66, 66, 66, 0.6);
  background-image: url("header.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: auto;
}

.contentWrapper {
  background-color: #fff;
  width: 80%;
  min-width: 600px;
  max-width: 800px;
  min-height: 600px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(66, 66, 66, 0.6);
  margin-top: -150px;
  margin-bottom: 50px;
  padding-bottom: 2%;
  padding-top: 3%;
}

.heading {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  margin-bottom: 5%;
}

#inputHeight, #inputWidth {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  margin: 25px;
  text-align: center;
  font-size: 16px;
}

#canvasSubmit {
  padding: 5px 16px;
  background-color: #00A7FF;
  border-radius: 2px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  box-shadow:0 1px 6px rgba(0,0,0,0.23), 0 1px 6px rgba(0,0,0,0.12);
  transition: 0.28s cubic-bezier(0.4,0,0.2,1);
}

#canvasSubmit:hover {
  box-shadow:0 6px 10px rgba(0,0,0,0.07), 0 10px 30px rgba(0,0,0,0.19);
}

#pixel_canvas {
  margin: auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
